<a href="https://colab.research.google.com/github/RohithSriNagulaMalyala/House-Price-Prediction/blob/main/HPP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
 #preprocessing the data
import pandas as pd
import numpy as np
import matplotlib.pyplot as mtp

In [2]:
data=pd.read_csv('/content/Hyderabad.csv')
print(data.head())
data.shape

      Price  Area     Location  No. of Bedrooms  Resale  MaintenanceStaff  \
0   6968000  1340     Nizampet                2       0                 0
1  29000000  3498  Hitech City                4       0                 0
2   6590000  1318    Manikonda                2       0                 0
3   5739000  1295        Alwal                3       1                 0
4   5679000  1145   Kukatpally                2       0                 0

   Gymnasium  SwimmingPool  LandscapedGardens  JoggingTrack  ...  \
0          1             1                  1             1  ...
1          1             1                  1             1  ...
2          1             0                  0             0  ...
3          0             0                  0             0  ...
4          0             0                  1             0  ...

   LiftAvailable  BED  VaastuCompliant  Microwave  GolfCourse  TV  \
0              1    0                1          0           0   0
1              1    0                1          0           0   0
2              0    0                0          0           0   0
3              1    0                0          0           0   0
4              1    0                0          0           0   0

   DiningTable  Sofa  Wardrobe  Refrigerator
0            0     0         0             0
1            0     0         0             0
2            0     0         0             0
3            0     0         0             0
4            0     0         0             0

[5 rows x 40 columns]

(2518, 40)

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2518 entries, 0 to 2517
Data columns (total 40 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Price                2518 non-null   int64
 1   Area                 2518 non-null   int64
 2   Location             2518 non-null   object
 3   No. of Bedrooms      2518 non-null   int64
 4   Resale               2518 non-null   int64
 5   MaintenanceStaff     2518 non-null   int64
 6   Gymnasium            2518 non-null   int64
 7   SwimmingPool         2518 non-null   int64
 8   LandscapedGardens    2518 non-null   int64
 9   JoggingTrack         2518 non-null   int64
 10  RainWaterHarvesting  2518 non-null   int64
 11  IndoorGames          2518 non-null   int64
 12  ShoppingMall         2518 non-null   int64
 13  Intercom             2518 non-null   int64
 14  SportsFacility       2518 non-null   int64
 15  ATM                  2518 non-null   int64
 16  ClubHouse            2518 non-null   int64
 17  School               2518 non-null   int64
 18  24X7Security         2518 non-null   int64
 19  PowerBackup          2518 non-null   int64
 20  CarParking           2518 non-null   int64
 21  StaffQuarter         2518 non-null   int64
 22  Cafeteria            2518 non-null   int64
 23  MultipurposeRoom     2518 non-null   int64
 24  Hospital             2518 non-null   int64
 25  WashingMachine       2518 non-null   int64
 26  Gasconnection        2518 non-null   int64
 27  AC                   2518 non-null   int64
 28  Wifi                 2518 non-null   int64
 29  Children'splayarea   2518 non-null   int64
 30  LiftAvailable        2518 non-null   int64
 31  BED                  2518 non-null   int64
 32  VaastuCompliant      2518 non-null   int64
 33  Microwave            2518 non-null   int64
 34  GolfCourse           2518 non-null   int64
 35  TV                   2518 non-null   int64
 36  DiningTable          2518 non-null   int64
 37  Sofa                 2518 non-null   int64
 38  Wardrobe             2518 non-null   int64
 39  Refrigerator         2518 non-null   int64
dtypes: int64(39), object(1)
memory usage: 787.0+ KB

In [4]:
#print(data.head())
security=data['24X7Security']
lift=data['LiftAvailable']
resale=data['Resale']
car_parking=data['CarParking']
MaintenanceStaff =data['MaintenanceStaff']
VaastuCompliant=data['VaastuCompliant']
data1=data.iloc[:,:4]
data1['security']=security
data1['lift_available']=lift
data1['Resale']=resale
data1['CarParking']=car_parking
data1['MaintenanceStaff']=MaintenanceStaff
data1['VaastuCompliant']=VaastuCompliant
print(data1)

         Price  Area     Location  No. of Bedrooms  security  lift_available  \
0      6968000  1340     Nizampet                2         1               1
1     29000000  3498  Hitech City                4         1               1
2      6590000  1318    Manikonda                2         0               0
3      5739000  1295        Alwal                3         0               1
4      5679000  1145   Kukatpally                2         0               1
...        ...   ...          ...              ...       ...             ...
2513  11000000  1460     Nacharam                2         9               9
2514  26000000  1314    Manikonda                2         9               9
2515  13300000  2625     Madhapur                3         9               9
2516  10800000  2050  Hitech City                3         9               9
2517  10400000  1805     Narsingi                3         9               9

      Resale  CarParking  MaintenanceStaff  VaastuCompliant
0          0           1                 0                1
1          0           1                 0                1
2          0           0                 0                0
3          1           0                 0                0
4          0           1                 0                0
...      ...         ...               ...              ...
2513       1           9                 9                9
2514       1           9                 9                9
2515       1           9                 9                9
2516       0           9                 9                9
2517       0           9                 9                9

[2518 rows x 10 columns]

In [5]:
for c in data1.columns:
  print(data1[c].value_counts())
  print("*"*20)

Price
3500000    48
3900000    46
6000000    45
4500000    43
8000000    39
           ..
6656999     1
6312000     1
5166000     1
5367000     1
6250000     1
Name: count, Length: 690, dtype: int64
********************
Area
1100    76
1150    76
1200    69
1050    67
1515    50
        ..
1334     1
1355     1
1738     1
3049     1
1805     1
Name: count, Length: 579, dtype: int64
********************
Location
Kukatpally                       166
Kondapur                         149
Manikonda                        115
Nizampet                         106
Gachibowli                        83
                                ...
Basheer Bagh                       1
Miyapur HMT Swarnapuri Colony      1
Adda Gutta                         1
Mayuri Nagar                       1
Paradise Circle                    1
Name: count, Length: 243, dtype: int64
********************
No. of Bedrooms
3    1207
2    1090
4     160
1      37
5      20
8       2
6       2
Name: count, dtype: int64
********************
security
0    1411
1    1023
9      84
Name: count, dtype: int64
********************
lift_available
1    1701
0     733
9      84
Name: count, dtype: int64
********************
Resale
0    1945
1     573
Name: count, dtype: int64
********************
CarParking
0    1336
1    1098
9      84
Name: count, dtype: int64
********************
MaintenanceStaff
0    2151
1     283
9      84
Name: count, dtype: int64
********************
VaastuCompliant
0    1661
1     773
9      84
Name: count, dtype: int64
********************

In [6]:
arr=[]
for i in range(2434,2518):
  arr.append(i)
data1=data1.drop(arr)

In [7]:
print(data1.isna().sum())
data1

Price               0
Area                0
Location            0
No. of Bedrooms     0
security            0
lift_available      0
Resale              0
CarParking          0
MaintenanceStaff    0
VaastuCompliant     0
dtype: int64

,Price,Area,Location,No. of Bedrooms,security,lift_available,Resale,CarParking,MaintenanceStaff,VaastuCompliant
0,6968000,1340,Nizampet,2,1,1,0,1,0,1
1,29000000,3498,Hitech City,4,1,1,0,1,0,1
2,6590000,1318,Manikonda,2,0,0,0,0,0,0
3,5739000,1295,Alwal,3,0,1,1,0,0,0
4,5679000,1145,Kukatpally,2,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...
2429,4500000,1250,Kollur Road,2,0,0,0,0,0,0
2430,3503000,1001,Miyapur,2,0,0,0,0,0,0
2431,5600000,1551,chandrayangutta,3,0,0,0,0,0,0
2432,7500000,3000,Jubilee Hills,3,0,0,1,1,1,1
2433,4600000,1245,Kollur Road,2,0,0,0,0,0,0

In [8]:
locationcounts=data1['Location'].value_counts()
locationcount_lessthan_10=locationcounts[locationcounts<=10]
print(locationcount_lessthan_10)

Location
Gandipet                  10
Mehdipatnam               10
Nallakunta                 9
Chaitanyapuri              9
Pati                       9
                          ..
ALIND Employees Colony     1
Ameerpet                   1
Methodist Colony           1
NRSA Colony                1
chandrayangutta            1
Name: count, Length: 187, dtype: int64

In [9]:
data1['Location']=data['Location'].apply(lambda x:"Other" if x in locationcount_lessthan_10 else x)
data1['Location'].value_counts()
data1['Location'].value_counts()

Location
Other                        469
Kukatpally                   163
Kondapur                     142
Manikonda                    112
Nizampet                     104
Hitech City                   81
Gachibowli                    80
Kokapet                       79
Miyapur                       78
Pragathi Nagar Kukatpally     56
Bachupally Road               55
Puppalaguda                   51
Narsingi                      50
Gajularamaram                 48
Nanakramguda                  45
Beeramguda                    45
Banjara Hills                 44
Appa Junction                 43
Tellapur                      43
Jubilee Hills                 41
Serilingampally               41
Krishna Reddy Pet             34
Madhapur                      31
Appa Junction Peerancheru     28
Nallagandla Gachibowli        28
Bachupally                    27
Malkajgiri                    22
Mallampet                     22
Begumpet                      21
Aminpur                       20
Alwal                         20
Sanath Nagar                  18
Balanagar                     18
Mallapur                      18
West Marredpally              17
Kollur Road                   16
Attapur                       16
Nagole                        16
Patancheru                    15
Kompally                      15
Bandlaguda Jagir              15
Chandanagar                   14
East Marredpally              14
Adibatla                      13
LB Nagar                      13
Shaikpet                      13
Tarnaka                       12
Gajulramaram Kukatpally       12
Madinaguda                    12
TellapurOsman Nagar Road      11
Kachiguda                     11
Darga Khaliz Khan             11
Toli Chowki                   11
Name: count, dtype: int64

In [10]:
data1.head()

,Price,Area,Location,No. of Bedrooms,security,lift_available,Resale,CarParking,MaintenanceStaff,VaastuCompliant
0,6968000,1340,Nizampet,2,1,1,0,1,0,1
1,29000000,3498,Hitech City,4,1,1,0,1,0,1
2,6590000,1318,Manikonda,2,0,0,0,0,0,0
3,5739000,1295,Alwal,3,0,1,1,0,0,0
4,5679000,1145,Kukatpally,2,0,1,0,1,0,0

In [11]:
data1['security']=data1['security'].apply(lambda x: "Yes" if x == 1 else "No" )
data1['lift_available']=data1['lift_available'].apply(lambda x: "Yes" if x == 1 else "No" )
data1['Resale']=data1['Resale'].apply(lambda x: "Yes" if x == 1 else "No" )
data1['CarParking']=data1['CarParking'].apply(lambda x: "Yes" if x == 1 else "No" )
data1['MaintenanceStaff']=data1['MaintenanceStaff'].apply(lambda x: "Yes" if x == 1 else "No" )
data1['VaastuCompliant']=data1['VaastuCompliant'].apply(lambda x: "Yes" if x == 1 else "No" )
data1

,Price,Area,Location,No. of Bedrooms,security,lift_available,Resale,CarParking,MaintenanceStaff,VaastuCompliant
0,6968000,1340,Nizampet,2,Yes,Yes,No,Yes,No,Yes
1,29000000,3498,Hitech City,4,Yes,Yes,No,Yes,No,Yes
2,6590000,1318,Manikonda,2,No,No,No,No,No,No
3,5739000,1295,Alwal,3,No,Yes,Yes,No,No,No
4,5679000,1145,Kukatpally,2,No,Yes,No,Yes,No,No
...,...,...,...,...,...,...,...,...,...,...
2429,4500000,1250,Kollur Road,2,No,No,No,No,No,No
2430,3503000,1001,Miyapur,2,No,No,No,No,No,No
2431,5600000,1551,Other,3,No,No,No,No,No,No
2432,7500000,3000,Jubilee Hills,3,No,No,Yes,Yes,Yes,Yes
2433,4600000,1245,Kollur Road,2,No,No,No,No,No,No

In [12]:
data1.to_csv("cleaned_data_real.csv")

In [13]:
x=data1.iloc[:,1:]
y=data1['Price']
print(x.head())
print(y.head())

   Area     Location  No. of Bedrooms security lift_available Resale  \
0  1340     Nizampet                2      Yes            Yes     No
1  3498  Hitech City                4      Yes            Yes     No
2  1318    Manikonda                2       No             No     No
3  1295        Alwal                3       No            Yes    Yes
4  1145   Kukatpally                2       No            Yes     No

  CarParking MaintenanceStaff VaastuCompliant
0        Yes               No             Yes
1        Yes               No             Yes
2         No               No              No
3         No               No              No
4        Yes               No              No
0     6968000
1    29000000
2     6590000
3     5739000
4     5679000
Name: Price, dtype: int64

In [14]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression,Lasso,Ridge
from sklearn.preprocessing import OneHotEncoder,StandardScaler
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn.metrics import r2_score

In [15]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)
print(x_train.shape)
print(x_test.shape)

(1947, 9)
(487, 9)

In [18]:
#linear regression
#col_trans=make_column_transformer((OneHotEncoder(sparse=False),['Location'],['security'],['lift_available'],['Resale'],['CarParking'],['MaintenanceStaff'],['VaastuCompliant']),remainder='passthrough')
col_trans = make_column_transformer(
    (OneHotEncoder(sparse_output=False), ['Location', 'security', 'lift_available', 'Resale', 'CarParking', 'MaintenanceStaff', 'VaastuCompliant']),
    remainder='passthrough')
sr=StandardScaler()
lr=LinearRegression()
pipe=make_pipeline(col_trans,sr,lr)
pipe.fit(x_train,y_train)
y_predict=pipe.predict(x_test)
r2_score(y_test,y_predict)

0.8729491956755046

In [19]:
#applying lasso
lasso=Lasso()
pipe=make_pipeline(col_trans,sr,lasso)
pipe.fit(x_train,y_train)
y_predict_las=pipe.predict(x_test)
r2_score(y_test,y_predict_las)

/usr/local/lib/python3.11/dist-packages/sklearn/linear_model/_coordinate_descent.py:695: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.002e+15, tolerance: 1.551e+13
  model = cd_fast.enet_coordinate_descent(

0.8729492502445797

In [20]:
#applying ridge
ridge=Ridge()
pipe=make_pipeline(col_trans,sr,ridge)
pipe.fit(x_train,y_train)
y_predict_ridge=pipe.predict(x_test)
print(x_test.head())
r2_score(y_test,y_predict_ridge)

      Area                   Location  No. of Bedrooms security  \
1294  2000                  Manikonda                3      Yes
1555  1500  Appa Junction Peerancheru                3      Yes
795    990           East Marredpally                2       No
1118  1568              Appa Junction                3       No
1151  2452                   Kondapur                3      Yes

     lift_available Resale CarParking MaintenanceStaff VaastuCompliant
1294            Yes     No        Yes               No             Yes
1555             No    Yes        Yes               No              No
795              No    Yes         No               No              No
1118            Yes     No         No               No              No
1151            Yes     No        Yes               No             Yes

0.8729876290862446

In [21]:
import pickle
pickle.dump(pipe,open("ridgemodel.pkl","wb"))

In [22]:
arr2=pd.DataFrame([[1340,"Nizampet",2,"Yes","Yes","No","Yes","No","Yes"]],columns=["Area","Location","No. of Bedrooms","security","lift_available","Resale",
                                                                                   "CarParking","MaintenanceStaff","VaastuCompliant"])
output=pipe.predict(arr2)[0]
print("Price for the given data is",np.round(output,2))

Price for the given data is 6804691.91